bluesky @ git+https://github.com/bluesky/bluesky@master
pytest
wheel
cycler
ophyd @ git+https://github.com/bluesky/ophyd@master
frappy-core @ git+https://github.com/SampleEnvironment/frappy
mlzlog
matplotlib
pytest-asyncio
pytest-xprocess
