bluesky 
pytest
wheel
cycler
ophyd-async @ git+https://github.com/bluesky/ophyd-async.git@9600d0c0d90d8f533d0e46a6eecdcd50a7c271ed 
frappy-core @ git+https://github.com/SampleEnvironment/frappy
mlzlog
matplotlib
pytest-asyncio
pytest-xprocess
ipykernel
databroker
